.button {
    -fx-background-insets: -1, 0, 1, 1;
    -fx-font-weight: bold;
    -fx-font-size: 36;
    -fx-text-fill: blue; 
}

.highlight-button {
    -fx-background-color: linear-gradient(aliceblue, green);
    -fx-text-fill: red;
}

.label {
	-fx-font-size: 20px;
}